[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/colorscheme-github"]
	path = bundle/colorscheme-github
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "bundle/colorscheme-solarized"]
	path = bundle/colorscheme-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/git-gutter"]
	path = bundle/git-gutter
	url = git://github.com/airblade/vim-gitgutter.git
